/* CSS Document */
article > .contents > div {
  position: relative;
  padding-left: 3% !important;
  overflow: hidden;
}
article > .contents > div > img {
  padding: 0 !important;
  border: none !important;
  width: 48.5%;
}
article > .contents > div > section {
  padding: 0 3% !important;
  background-color: #fff !important;
  border: none !important;
}
article > .contents > div > section:not(.left):not(.right) {
  width: 48.5%;
}
article > .contents > div > .left {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  width: 47%;
  border: none !important;
  display: block;
}
article > .contents > div > .right {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  width: 47%;
  border: none !important;
  display: none;
}
article > .contents > div > .right > img {
  padding: 0 !important;
  border: none !important;
}
article > .contents > div h5 {
  margin: 2rem 0;
  padding: 1rem;
  color: #012052;
  border-top: #012052 3px double;
  border-bottom: #012052 3px double;
}
article > .contents > div a button {
  display: block;
  text-decoration: none;
  background-color: #2c7eff;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  border: none;
}
article > .contents > div a button:hover {
  opacity: 0.8;
}
article > .contents ul {
  display: table;
  background-color: rgba(26, 26, 26, 0.8);
  text-align: center;
  margin: -3.75rem auto 5rem auto;
  position: relative;
  z-index: 1;
}
article > .contents ul li {
  display: table-cell;
  padding: 1rem 1.5rem;
  font-weight: bold;
}
article > .contents ul li.show a {
  color: #2c7eff;
}
article > .contents ul li a {
  color: #fff;
}
