@charset "UTF-8";
/* CSS Document */
html body {
  overflow: hidden;
}
html body[class*=bg] {
  background: none;
}
html body header#top {
  position: relative;
  z-index: 2;
}
html body main {
  width: 100%;
}
html body main > span {
  position: fixed;
  bottom: 4.5rem;
  left: 0;
  z-index: 0;
  display: block;
  color: #fff;
  font-size: 2rem;
  width: 25%;
  text-align: center;
}
html body main article {
  background: none;
  width: 100%;
}
html body main article > ul {
  position: fixed;
  bottom: 2.5rem;
  left: 0;
  z-index: 1;
  display: table;
  width: 100%;
  background-color: #012052;
}
html body main article > ul li {
  display: table-cell;
  text-align: center;
  padding: 0.5rem;
  color: #fff;
  width: 25%;
  cursor: pointer;
}
html body main article > ul li:hover {
  background-color: #004dc5;
}
html body main article > ul li.active {
  background-color: #fff;
  color: #012052;
}
html body main article .contents {
  color: #fff;
  padding: 0 !important;
  width: 150%;
  margin-left: -25%;
  background: center center no-repeat scroll;
  background-size: cover;
}
html body main article .contents:nth-of-type(1) {
  background-image: url(../img/top/1.jpg);
}
html body main article .contents:nth-of-type(2) {
  background-image: url(../img/top/2.jpg);
}
html body main article .contents:nth-of-type(3) {
  background-image: url(../img/top/3.jpg);
}
html body main article .contents:nth-of-type(4) {
  background-image: url(../img/top/4.jpg);
}
html body main article .contents:first-of-type {
  border: none !important;
}
html body main article .contents.load {
  width: 100%;
  margin-left: 0;
  transition: width 20s ease , margin-left 20s ease;
}
html body main article .contents div {
  margin: 0 auto;
  padding: 20rem 2rem 5rem 2rem;
  text-align: center;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
}
html body main article .contents div header {
  color: #fff;
  margin: 0 0 3rem 0;
}
html body main article .contents div header h3 {
  font-family: century;
  font-size: 2rem;
}
html body main article .contents div header p {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  font-size: 0.9rem;
}
html body main article .contents div a button {
  color: #333333;
  background-color: #fff;
  display: block;
  margin: 1rem 0 0 25%;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  overflow: hidden;
  width: 50%;
  cursor: pointer;
  border: none;
}
html body main article .contents div a button:hover {
  opacity: 1;
}
html body main article .contents div a button span {
  margin-right: 1rem;
}
html body main article .contents div dl {
  background: none;
  width: 37rem;
  border: none;
  margin: 0 auto;
  padding: 0;
}
html body main article .contents div dl dt {
  color: #fff;
  float: left;
  width: 8rem;
  margin: 0;
  padding: 0 1rem;
  text-align: right;
}
html body main article .contents div dl dd {
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
  border-bottom: #fff 1px dotted;
  text-align: left;
  overflow: visible;
}
html body main article .contents div dl dd:last-of-type {
  border: none;
}
html body #news {
  position: absolute;
  top: 5.5rem;
  left: 30%;
  z-index: 1;
  width: 70%;
  background: none !important;
  line-height: 100%;
  display: table;
  overflow: hidden !important;
}
@media all and (max-width: 1200px) {
  html body #news {
    display: none;
  }
}
html body #news h3 {
  padding: 0.2rem 1rem;
  background-color: #fff;
  color: #333333;
  font-weight: bold;
  text-align: center;
  font-family: century;
  display: table-cell;
  vertical-align: top;
  position: relative;
  z-index: 2;
  width: 2rem;
}
html body #news #prev, html body #news #next {
  display: table-cell;
  padding-left: 1rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  width: 1rem;
}
html body #news #prev {
  display: none;
}
html body #news div {
  display: table-cell;
  background: none !important;
  padding: 0;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
}
html body #news div ul {
  margin-top: 0.5rem;
  padding-left: 1rem;
  display: table;
}
html body #news div ul li {
  display: table-cell;
  color: #fff;
}
html body #news div ul li a {
  color: #fff;
  margin: 0 0.5rem 0 0;
  padding: 0;
  text-decoration: underline;
}
html body footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}
html #pv {
  position: absolute;
  top: 165px;
  right: 1%;
  z-index: 4;
  display: block;
  cursor: pointer;
  width: 16.66667%;
  min-width: 250px;
  height: auto;
}
html iframe {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  width: 640px;
  height: 360px;
  margin: -180px 0 0 -320px;
}
html #vs {
  position: fixed;
  bottom: 10%;
  right: 0.5%;
  z-index: 4;
  display: block;
  transform: rotate(12deg);
  width: 22%;
  min-width: 300px;
  height: auto;
}
html #exam {
  position: fixed;
  bottom: 0;
  right: 200px;
  z-index: 11;
  margin-bottom: 0.8rem;
}
html #hero {
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 1;
  margin-left: -80px;
}
