@charset "utf-8";
/* CSS Document */

@import "settings";

header#top {
	width: $max;
	background-color: $white;
	overflow: hidden;
	display: table;
	padding: 10px 10px $FS 10px;
	overflow: hidden;
	border-bottom: 7px solid $navy;
	
	h1 {
		display: table-cell;
	}

	#topnavi {
		font-size: $FS * 0.8;
		color: #0033cc;
		display: table-cell;
		text-align: right;
		vertical-align: middle;
		padding-top: 1rem;
		
		li {
			display: inline;
			margin-left: $FS * 2;
		}
	}
}

h2 {
	@include abT(4.7rem,0,1);
}
		
#global {
	@include abT(4.65rem,0,5);
	color: $white;
	width: $max;
	
	&.fix {
		@include fixT(0,0,5);
			
		.menu-trigger {
			background-color: $modal;
		}
	}
	
	& > dl {
		display: table;
		width: $max;
	
		.menu-trigger,.menu-trigger span {
			display: block;
			transition: all .4s;
			box-sizing: border-box;
		}
		
		.menu-trigger {
			@include abT(0,0,5);
			cursor: pointer;
			text-align: center;
			padding: 10px 10px 5px 10px;
			
			span {
				height: 2px;
				background-color: #fff;
				border-radius: 2px;
				margin: 10px;
				width: 40px;
				
				&:nth-of-type(3) {
					margin-bottom: 0;
				}
			}
			
			&.on {
				background: none;
				
				span:nth-of-type(1) {
					-webkit-transform: translateY(12px) rotate(-315deg);
					transform: translateY(12px) rotate(-315deg);
				}
				
				span:nth-of-type(2) {
					opacity: 0;
				}
				
				span:nth-of-type(3) {
					-webkit-transform: translateY(-12px) rotate(315deg);
					transform: translateY(-12px) rotate(315deg);
				}
			}
			
			i {
				font-style: normal;
			}
		}
		
		& > dd {
			padding: 5rem 0.5rem;
			display: none;
			background-color: $modal;
			width: $max / 3;
			vertical-align: top;
		
			&:nth-of-type(1) {
				dl {
					width: 20rem;
				}
			}
			
			&:nth-of-type(2) {
				border-left: $white 1px dotted;
				border-right: $white 1px dotted;
				
				dl {
					width: 24rem;
				} 
			}
			
			&:nth-of-type(3) {
				dl {
					width: 18rem;
				} 
			}
			
			dl {
				margin: 0 auto;
				display: none;
				
				dt {
					font-weight: bold;
					margin-bottom: 1.5rem;
					padding: 0.5rem;
					border-top: $white 1px solid;
					border-bottom: $white 1px solid;
					text-align: center;
				}
				
				dd {
					background: none;
					margin: 0.5rem 0 0 1.5rem;
					color: lighten($black , 45%);
					
					a {
						color: $white;
						
						&.active {
							color: $blue;
							text-decoration: line-through; 
						}
					}
						
					span {
						margin-right: 0.5rem;
					}
				}
			}
					
			i {
				font-style: normal;
				font-family: century;
				font-weight: normal;
				font-size: 0.6rem;
				margin-left: 1rem;
			}
		}
	}
}