@charset "utf-8";
/* CSS Document */

@import "settings";
	
article {
	
	&>.contents {
		
		&>div {
			position: $r;
			padding-left: $max * 0.03 !important;
			overflow: hidden;
	
			&> img {
				padding: 0 !important;
				border: none !important;
				width: $max * 0.485;
			}
			
			&> section {
				padding: 0 $max*0.03 !important;
				background-color: $white !important;
				border: none !important;
				
				&:not(.left):not(.right) {
					width: $max * 0.485;
				}
			}
						
			&> .left {
				@include abT(0,100%,1);
				width: $max * 0.47;
				border: none !important;
				display: block;
			}
			
			&> .right {
				@include abT(0,50%,0);
				width: $max * 0.47;
				border: none !important;
				display: none;
				
				&> img {
					padding: 0 !important;
					border: none !important;
				}
			}
			
			h5 {
				margin: 2rem 0;
				padding: 1rem;
				color: $navy;
				border-top: $navy 3px double;
				border-bottom: $navy 3px double;
			}
			
			
			
			a button {
				display: block;
				text-decoration: none;
				background-color: $blue;
				margin-bottom: 2rem;
				padding: 0.5rem;
				text-align: center;
				color: $white;
				overflow: hidden;
				width: $max;
				cursor: pointer;
				border: none;
	
				&:hover {
					opacity: 0.8;
				}
			}
		}

		ul {
			display: table;
			background-color: lighten($modal , 10%);
			text-align: center;
			margin: -3.75rem auto 5rem auto;
			position: $r;
			z-index: 1;
			
			li {
				display: table-cell;
				padding: 1rem 1.5rem;
				font-weight: bold;
					
				&.show {
					a {
						color: $blue;
					}
				}
				
				a {
					color: $white;
				}
			}
		}
	}
}