@charset "utf-8";
/* CSS Document */

@import "settings";

html {
	
	body {
		overflow-x: hidden;
		
		&[class*=bg] {
			background: none;
		}

		header#top {
			position: $r;
			z-index: 2;
		}
		
		#back {
			@include abT(0,0,1);
			overflow: hidden;
			
			div {
				background: url(#{$ip}top/4.jpg), url(#{$ip}top/0.jpg), url(#{$ip}top/1.jpg), url(#{$ip}top/2.jpg), url(#{$ip}top/3.jpg) no-repeat center center;
				background-size: cover;
				width: $max;
				height: $max;
				
				&.inner {
					transform: scale(1.5 , 1.5) rotate(12deg);
					transition: all 30s ease 0.5s;
				}
			}
		}
		
			
		main {
			@include abT(0,0,1);
			background: url(#{$ip}common/dot.png);
			
			&>div {
				position:absolute;
				background-color: $black;
			}
			
			article {
				background: none;
				height: $max;
				border-right: $max*0.05 rgba($black,80%) solid;
				overflow-y: auto;
			
				#button {
					@include abT(54%,0,10);
					font-family: century;
				
					li {
						background-color: $navy;
						color: $white;
						text-align: center;
						cursor: pointer;
						min-width: 60px;
						min-height: 60px;
						margin-bottom: 1px;
						padding-top: $max * 0.35;
						opacity: .8;
						font-size: 0.9rem;
						font-weight: bold;
						
						&.on {
							background-color: $black;
						}
					}
				}
				
				section {
					color: $white;
					display: none;
					padding: 0 !important;
					background: none !important;
					overflow: auto;
					height: $max;
					line-height: 1.75rem;
					
					header {
						@include abT(45%,27%,3);
						width: $max * 0.1 !important;
						color: #fff;
						margin: 0;
						
						&:after {
							content: "";
						}
						
						h3 {
							font-family: century;
							font-size: 1.25rem;
						}
					
						p {
							font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
							font-size: 0.9rem;
						}
					}
					
					div.tse-scrollable {
						@include abT(55.5%,8.1%,10);
						width: $max * 0.18;
						overflow: hidden;
						
						@include media($ot) {
							width: 220px !important;
						}
										
						.close {
							font-size: 2.5rem;
							color: #fff;
							cursor: pointer;
							text-align: right;
							margin-bottom: 1rem;
						}
						
						p a,li a {
							color: lighten($black,20%);
							background-color: $white;
							display: block;
							margin-top: 1rem;
							padding: 0.5rem;
							text-align: center;
							opacity: 0.8;
							overflow: hidden;
							
							&:hover {
								opacity: 1;
							}
						}
						
						dl {
							background: none !important;
							border: none !important;
							margin: 0 !important;
							padding: 0 !important;
							
							dt {
								color: $white !important;
							}
							
							dd {
								margin: 0 0 1rem 0;
								padding: 0 0 1rem 0;
								border-bottom: $white 1px dotted;
								
								&:last-of-type {
									border: none;
								}
							}
						}
					}
				}
			}
		}
		
		#news {
			@include abT(5.4rem,65%,5);
			width: $max * 0.455;
			background: none !important;
			line-height: $max;
			
			@include media($of) {
				@include abT(11rem,1rem,3);
				width: 1500px !important;
			}
			
			h3 {
				width: $max * 0.1;
				padding: 0.2rem 0.5rem;
				background-color: $white;
				color: lighten($black, 20%);
				font-weight: bold;
				text-align: center;
				font-family: century;
				display: inline-block;
				vertical-align: top;
			
				@include media($of) {
					width: $max * 0.05;
					padding: 0.4rem 0.5rem 0 0.5rem;
					min-width: 4rem;
					height: 1.6rem;
				}
			}
				
			#prev,#next {
				display: inline-block;
				margin-left: 1rem;
				cursor: pointer;
				color: $white;
				font-size: 1.5rem;
			
				@include media($of) {
					font-size: 1.25rem;
				}
			}
			
			#prev {
				display: none;
			}
			
			div {
				width: $max;
				background: none !important;
				padding: 0;
				
				h3 {
					width: $max * 0.1;
					padding: 0.2rem 0;
					background-color: $white;
					color: lighten($black, 20%);
					font-weight: bold;
					text-align: center;
					font-family: century;
					display: inline-block;
					vertical-align: top;
				
					@include media($of) {
						width: $max * 0.05;
					}
				}
				
				ul {
					margin-top: 0.5rem;
					display: table;
						
					li {
						display: table-cell;
						color: $white;
						
						a {
							color: $white;
							margin: 0 0.5rem 0 0;
							padding: 0;
							text-decoration: underline;
						}
					}
				}
			}
		}
		
		footer {
			@include fixB(0,0,10);
			width: $max;
		}
	}
	
	#live {
		display: none;
	}
	
	#pv {
		@include abR(165px,1%,4);
		display: block;
		cursor: pointer;
		width: $max / 6;
		min-width: 250px;
		height: auto;
	}
	
	iframe {
		display: none;
		@include fixT(50%,50%,6);
		width: 640px;
		height: 360px;
		margin: -180px 0 0 -320px;
	}
	
	#vs {
		@include fixB(10%,0.5%,4);
		display: block;
		transform: rotate(12deg);
		width: $max * 0.22;
		min-width: 300px;
		height: auto; 
	}
	
	#exam {
		@include fixB(0,200px,11);
		margin-bottom: 0.8rem;
	}

	#hero {
		@include abT(75%,50%,1);
		margin-left: -80px;
	}
}